.button {
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    font: inherit;
  }
  
  .icon {
    width: 29px;
    height: 25px;
    object-fit: contain;
  }
  
  .text {
    white-space: nowrap;
    color: #2c2c2c
  }
  
  @media (max-width: 991px) {
    .text {
      white-space: normal;
    }
  }