.tagToggleBar{
  padding-top: 15px;
}
.tagToggle {
    border-radius: 8px;
    padding: 8px;
    font: var(--sds-typography-body-font-weight-regular) var(--sds-typography-body-size-small) / 1 var(--sds-typography-body-font-family);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: 1px solid #b2b2b2;
    background-color: #fff;
    color: #757575;
  }
  
  .tagToggle.active {
    background-color: #2c2c2c;
    color: var(--sds-color-text-brand-on-brand);
    border: none;
  }
  
  .icon {
    width: 16px;
    height: 16px;
  }